.reset-body-2{
  background-color: var(--color-grey-medium);
  min-height: 100vh;
}
.reset-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-md);
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(0.125%, 25%);
  }
  
  .reset-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--color-black);
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .reset-form-group {
    margin-bottom: 1.5rem;
  }
  
  .reset-form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--color-black);
  }
  
  .reset-form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--color-grey-medium);
    border-radius: var(--border-radius);
    font-size: 1rem;
  }
  
  .reset-form-group input:focus {
    border-color: var(--color-primary);
    outline: none;
    box-shadow: 0 0 0 2px var(--color-primary-light);
  }
  
  .reset-error {
    color: var(--color-error);
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  
  .reset-btn {
    width: 80%;
    padding: 0.75rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .reset-btn:hover {
    background-color: var(--color-primary-hover);
    box-shadow: var(--box-shadow-md);
  }
  