.guest-profile-container {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-lg);
    max-width: 600px;
    margin: var(--spacing-xl) auto;
    font-family: Arial, sans-serif;
  }
  
  .guest-profile-container h1 {
    font-size: var(--font-size-large);
    color: var(--color-primary);
    margin-bottom: var(--spacing-md);
    text-align: center;
  }
  
  .guest-user2-details {
    font-size: var(--font-size-base);
    color: var(--color-grey-dark);
  }
  
  .guest-user2-details p {
    margin-bottom: var(--spacing-sm);
  }
  
  .guest-user2-details p strong {
    color: var(--color-primary);
  }
  